body{
    margin: 0px;
    background: rgba(160, 208, 231, 0.5);
}

.page{
    height: 60%;
    margin: 0px;
    background: #203c61;
    background: linear-gradient(#0198D9 0%, #D3EEF5 100%);
}


.water{
    height: 2000px;
    margin: 0px;
    background: linear-gradient(#D3EEF5 0%, #203c61 0.3%, #080f18 100%);
}
#iceberg1{
    
}
